<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>verify and reset your password</title>
</head>

<body>
  <style>
    body,
    html {
      background-image: url({{url_for('static', filename='img/background.gif')}});
      height: 100%;
    }
  </style>

  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <h2 class="text-center"> We sent you a reset password link to you email </h2>
        <h2 class="text-center text-muted"> Please use that link to reset your password </h2>
      </div>
    </div>

</body>

</html>